@import "tailwindcss";

@theme {
  --animate-spawn: spawn 1s ease-in-out;
  @keyframes spawn {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}

.link-underline::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: rgba(107, 114, 128, 0.5); 
  transform: translateX(-50%);
  transition: width 300ms ease;
  pointer-events: none;
}

.link-underline:hover::after {
  width: 100%;
}


.button-style {
  @apply inline-block px-4 py-2 text-2xl font-normal rounded-3xl border border-gray-700 transition-colors ease-in-out bg-gradient-to-r from-green-900 via-green-500 to-white text-transparent bg-clip-text hover:bg-white hover:text-black hover:bg-clip-padding;
}
