---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import Briefcase from "../components/icons/Briefcase.astro";

const EXPERIENCES = [
  {
    title: "Sistema de Gestión de Terminal de Transporte",
    description: "Desarrollamos un sistema de escritorio completo, contribuyendo de principio a fin en este proyecto, se plantearon las necesidades y requisitos iniciales y con base en ello, diseñamos una solución escalable fácilmente mantenible para la gestión y recaudación de ingresos de una terminal de transporte. Utilizamos arquitectura por capas enfocada al dominio permitiéndonos mejor control y organización sobre el código, asimismo implementamos la metodología Scrum, planificando nuestras tareas mediante Jira y programando reuniones recurrentes para evaluar nuestro progreso.",
    link: "#",
    github: "#",
    image: "#",
    responsabilities: [
      "Construcción de filtros dinámicos y personalizados usando EntityManager y CriteriaBuilder para consultas combinadas, adaptándolo a las necesidades del FrontEnd.",
      "Manipulación eficiente la persistencia mediante el repositorio utilizando interfaces CrudRepository, y mapeo entre entidades y modelos de dominio mediante interfaces mappers usando MapStruct.",
      "Diseño y modelado de base de datos en PostgreSQL, desde la normalización en Lucidchart hasta la implementación.",
      "Participación activa en la toma de requisitos tanto funcionales como no funcionales además del diseño en Figma para garantizar alineación entre la solución técnica y las necesidades del cliente.",
    ],
    date: "Enero 2025 - Mayo 2025 - 5 meses Freelance",
    techs: ["JavaIcon", "SpringIcon", "ElectronIcon", "ReactIcon", "TailwindIcon", "PostgreSQLIcon", "Zustand", "Figma"]
  },
];
---

<Layout title="Experiencia | Camilo Mora" watermark="Experiencia" currentPath="/experience">
  <Container>
    <section>
      <div class="flex gap-2">
        <Briefcase class="opacity-50 size-12 md:size-6" />
        <h2 class="mb-4 text-sm md:text-base">Mi experiencia me ha permitido expandir mis habilidades no solo como programador sino como compañero de trabajo.</h2>
      </div>
      <ol class="relative border-s pb-25 border-gray-700 h-[calc(100vh-200px)] overflow-auto backdrop-blur-sm backdrop-opacity-50">
        {EXPERIENCES.map(experience => (
          <ExperienceCard experience={experience} />
        ))}    
      </ol>
    </section>
  </Container>
</Layout>