---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Experiencia | Camilo Mora" watermark="Experiencia" currentPath="/experience">
  <Container>
    <section>
      
    </section>
  </Container>
</Layout>

<style>
  ol {
    scrollbar-width: thin;
    scrollbar-color: #4ade8011 transparent;
  }
</style>
