---
import Aside from "../components/Aside.astro";
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio" watermark="Camilo Mora.">
  <Container>
    <div class="flex mt-30">
      <Aside />
      <div class="flex-1">
        <h1 class="text-4xl font-bold mb-4">hey, qué tal, soy <span class="text-green-500">Camilo Mora</span></h1>
        <p class="text-lg mb-6">
          Aquí encontrarás una colección de mis proyectos y trabajos más recientes.
        </p>
        <p class="text-lg">
    </div>
  </Container>
</Layout>
