---
  // import MoonIcon from "./icons/Moon.astro"
  // import SunIcon from "./icons/Sun.astro";
  // import LanguageIcon from "./icons/Language.astro";
---

<header class="max-w-3xl flex items-center mt-15 mx-auto gap-20">
  <nav class="w-full">
    <ul class="flex justify-between items-center">
      <a class="text-2xl transition-all hover:text-green-800" href="/">CM</a>
      <a class="hover:border-b transition-all hover:-translate-y-0.5 font-thin" href="/experience">Experiencia</a>
      <a class="hover:border-b transition-all hover:-translate-y-0.5 font-thin" href="/projects">Proyectos</a>
      <a class="hover:border-b transition-all hover:-translate-y-0.5 font-thin" href="/habilities">Habilidades</a>
      <a class="hover:border-b transition-all hover:-translate-y-0.5 font-thin" href="/contact">Contacto</a>
      <!-- <button><MoonIcon /></button> -->
      <!-- <button><SunIcon /></button> -->
      <!-- <button><LanguageIcon /></button> -->
    </ul>
  </nav>
</header>

