---
  // import MoonIcon from "./icons/Moon.astro"
  // import SunIcon from "./icons/Sun.astro";
  // import LanguageIcon from "./icons/Language.astro";
---

<header class="max-w-3xl flex items-center mt-15 mx-auto gap-20">
  <nav class="w-full">
    <ul class="flex justify-between items-center font-thin">
      <a class="relative link-underline transition-transform text-2xl font-normal" href="/" aria-label="Ir a página inicio" title="Página de inicio">CM</a>
      <a class="relative link-underline transition-transform" href="/experience" aria-label="Ir a sección de experiencia" title="Sección de experiencia">Experiencia</a>
      <a class="relative link-underline transition-transform" href="/projects" aria-label="Ir a sección de proyectos" title="Sección de proyectos">Proyectos</a>
      <a class="relative link-underline transition-transform" href="/habilities" aria-label="Ir a sección de habilidades" title="Sección de habilidades">Habilidades</a>
      <a class="relative link-underline transition-transform" href="/contact" aria-label="Ir a sección de contacto" title="Sección de contacto">Contacto</a>
      <!-- <button><MoonIcon /></button> -->
      <!-- <button><SunIcon /></button> -->
      <!-- <button><LanguageIcon /></button> -->
    </ul>
  </nav>
</header>

