---
  const { currentPath } = Astro.props;
---
<header class="px-5 md:px-0 md:max-w-3xl flex items-center mt-15 mx-auto gap-20">
  <nav class="w-full">
    <ul class="flex justify-between items-center font-thin">
      <a class={`${currentPath === "/projects" && "text-green-700"} hidden md:flex font-normal relative link-underline transition-transform`} href="/projects" aria-label="Ir a sección de proyectos" title="Sección de proyectos">Proyectos</a>
      <a class={`${currentPath === "/experience" && "text-green-700"} hidden md:flex font-normal relative link-underline transition-transform`} href="/experience" aria-label="Ir a sección de experiencia" title="Sección de experiencia">Experiencia</a>
      <a class={`${currentPath === "/" && "text-green-700"} font-normal relative link-underline transition-transform text-2xl`} href="/" aria-label="Ir a página inicio" title="Página de inicio">CM</a>
      <a class={`${currentPath === "/habilities" && "text-green-700"} hidden md:flex font-normal relative link-underline transition-transform`} href="/habilities" aria-label="Ir a sección de habilidades" title="Sección de habilidades">Habilidades</a>
      <a class={`${currentPath === "/contact" && "text-green-700"} hidden md:flex font-normal relative link-underline transition-transform`} href="/contact" aria-label="Ir a sección de contacto" title="Sección de contacto">Contacto</a>
    </ul>
  </nav>
</header>

